<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}">
    <title>Title</title>
    <script src="https://kit.fontawesome.com/8b1463211e.js" crossorigin="anonymous"></script>
</head>
<body>
	<form action="/admin/bookmodify" method="post" enctype="multipart/form-data">
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
		메인 이미지 파일: <input type="file" name="mainImageFile" accept="image/*"> <br/>
		컨텐츠 이미지 파일: <input type="file" name="contentsImageFile" accept="image/*"> <br/>
		ISBN: <input type="text" name="bookVO.ISBN" th:value="${bookVO.ISBN}" readonly> <br/>
		TITLE: <input type="text" name="bookVO.title" th:value="${bookVO.title}"> <br/>
		AUTHOR: <input type="text" value="" name="bookVO.author" th:value="${bookVO.author}"> <br/>
		PUBLISHER: <input type="text" value="" name="bookVO.publisher" th:value="${bookVO.publisher}"> <br/>
		CONTENTS: <textarea type="text" name="bookVO.contents" th:text="${bookVO.contents}"></textarea> <br/>
		INTRODUCE: <textarea type="text" name="bookVO.introduce" th:text="${bookVO.introduce}"></textarea> <br/>
		PRICE: <input type="number" name="bookVO.price" th:value="${bookVO.price}"> <br/>
		<input type="submit" value="게시하기">
	</form>
	<a href="/admin/manage">관리페이지로 이동하기</a>
</body>
</html>