.order_wrap {
    width: 100%;
    max-width: 1300px;
    min-width: 1200px;
    min-height: 600px;
    margin: 0 auto;
}

h3 {
    display: inline-block;
    margin-bottom: 30px;
    margin-right: 20px;
}

.order_table_wrap {
    display: inline-flex;
    flex-direction: row;
    position: relative;
}

table {
    display: inline-block;
    text-align: center;
    border-collapse: collapse;
}

.payment_table {
    margin-right: 50px;
}

th, tr, td {
    padding: 0 10px;
    border: 1px solid black;
    height: 30px;
    line-height: 30px;
}

td {
    height: 30px;
    max-height: 30px;
    line-height: 30px;
}

.order_no {
    cursor: pointer;
}

.detail_order_table {
    flex: 2;
}
