<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}">
    <title>장바구니</title>
    <link rel="stylesheet" href="/css/main/header.css" th:href="@{/css/main/header.css}">
    <link rel="stylesheet" href="/css/main/cart.css" th:href="@{/css/main/cart.css}">
    <script src="https://kit.fontawesome.com/8b1463211e.js" crossorigin="anonymous"></script>
    <script src="/js/main/cart.js" th:src="@{/js/main/cart.js}" defer></script>
</head>
<body>
    <th:block th:replace="~{/main/header :: header}"></th:block>
    <hr>
    <main>
        <div id="order_process_container">
            <h2>장바구니</h2>
            <ul>
                <li><span class="order_process_number on">1</span><span>장바구니</span></li>
                <li><span class="order_process_number">2</span><span>주문/결제</span></li>
                <li><span class="order_process_number">3</span><span>주문완료</span></li>
            </ul>
        </div>

        <div id="cart_control_bar">
            <div>
                <input type="checkbox">
                <span>전체</span>
            </div>
            <div>
                <input type="button" value="찜">
                <input type="button" value="삭제">
            </div>
        </div>

        <section id="cart_book_info_container">
            <hr>
            <div class="cart_book_info">
                <div class="cart_book_info_left">
                    <input type="checkbox">
                    <img src="" alt="책이미지">
                    <div class="book_common_info">
                        <h3>title</h3>
                        <span>price원</span>
                    </div>
                </div>
                <div class="cart_book_info_right">
                    <div class="book_price_container">
                        <b>price</b>
                        <div class="book_count">
                            <i class="fa-solid fa-plus"></i>
                            <input type="text" value="1">
                            <i class="fa-solid fa-minus"></i>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </section>
        <div id="order_container">
            <div><span>상품금액</span><span>price</span></div>
            <div><span>배송비</span><span>price</span></div>
            <hr>
            <div><b>결제 예정 금액</b><b>price</b></div>
            <input type="button" value="주문하기">
        </div>
    </main>
</body>
</html>