<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
	<meta charset="UTF-8">
	<meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}">
	<title>Title</title>
	<script src="https://kit.fontawesome.com/d19fdaba43.js" crossorigin="anonymous"></script>
</head>
<body>
	<div><b>제목:</b> [[${bookVO.title}]]</div>
	<div><b>저자:</b>  [[${bookVO.author}]]</div>
	<div><b>출판사:</b>  [[${bookVO.publisher}]]</div>
	<div><b>소개:</b>  [[${bookVO.introduce}]]</div>
	<div><b>내용:</b></div>
	<div th:each="content: ${bookVO.contents.split('\n')}">
		<div th:text="${content}"></div>
	</div>
	<div><b>가격:</b>  [[${bookVO.price}]]</div>
	<div><b>평가:</b>  [[${bookVO.rating}]]</div>
</body>
</html>








