<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
	<meta charset="UTF-8">
	<meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}">
	<title>KOREAIT KYOBO 교보문고</title>
	<link rel="stylesheet" href="/css/main/main.css" th:href="@{/css/main/main.css}">
	<link rel="stylesheet" href="/static/css/main/header.css" th:href="@{/css/main/header.css}">
	<script src="/js/main/main.js" th:src="@{/js/main/main.js}" defer></script>
	<script src="https://kit.fontawesome.com/8b1463211e.js" crossorigin="anonymous"></script>
</head>
<body>
	<th:block th:replace="~{/main/header :: header}"></th:block>
	<hr>
	<main class="padding_lr_300">
		<section id="book_nav">
			<span>전체 00건</span>
			<div class="book_nav_right">
				<input id="heart_btn" type="button" value="하트" th:onclick="insert_heart_cart_checked(${#authentication.getName()})">
				<input id="cart_btn" type="button" value="장바구니 담기" th:onclick="insert_heart_cart_checked(${#authentication.getName()})">
				<select th:onclick="">
					<option value="">2개씩 보기</option>
					<option value="">3개씩 보기</option>
					<option value="">5개씩 보기</option>
				</select>
			</div>
		</section>
		<hr>
		<section id="book_container">
		</section>
	</main>
</body>
</html>