* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

/*==== Main ====*/
main {
    width: 100%;
    /*min-width: 1300px;*/
    /*margin: 100px auto 0 auto;*/
    /*padding: 0 300px;*/
}

.cart_wrap {
    max-width: 1300px;
    min-width: 1200px;
    margin: 100px auto 0 auto;
}

/*==== order_process ====*/
#order_process_container {
    display: flex;
    min-width: 1300px;
    justify-content: space-between;
}

#order_process_container > ul {
    display: flex;

}

#order_process_container > ul > li:not(:last-child) {
    margin-right: 10px;
}

.order_process_number {
    display: inline-block;
    text-align: center;
    vertical-align: center;
    width: 25px;
    height: 25px;
    border-radius: 12.5px;
    margin-right: 10px;
    background-color: gray;
    color: white;
    font-weight: bold;
}

.order_process_number.on {
    background-color: forestgreen;
}

/*==== cart_control_bar ====*/
#cart_control_bar {
    min-width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
    padding: 0 30px;
    height: 60px;
    background-color: whitesmoke;
    border-radius: 10px;
}

.all_check_img, .check_img {
    cursor: pointer;
}

/*==== cart_main_container ====*/
#cart_main_container {
    min-width: 1300px;
    display: flex;
    justify-content: space-between;
}

/*==== cart_book_info ====*/
#cart_book_info_container {
    padding: 20px;
    width: 70%;
}

.cart_book_info {
    padding: 30px 10px;
    border-bottom: 1px solid #eaeaea;
    border-top: 1px solid #eaeaea;
    display: flex;
    align-items: center;
}

.cart_book_info:not(:first-child){
    border-top: none;
}

.cart_book_info_left {
    display: flex;
    align-items: center;
    flex: 3;
}

.cart_book_info_right {
    flex: 1;
}

.book_img {
    width: 100px;
    margin: 0 1.5rem;
}

.title {
    display: inline-block;
    width: 300px;
    word-break: keep-all;
}

.price {
    margin-top: 5px;
}

.book_count {
    display: flex;
}

.book_count i {
    cursor: pointer;
}

.book_count_value {
    width: 30px;
    margin: 0 5px;
    text-align: center;
}

/*==== order_container ====*/
#order_container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 20%;
    height: 200px;
    padding: 10px 20px;
    border: 1px solid black;
}