* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*===== CommonOption =====*/
.padding_lr_300 {
    padding: 0 300px;
}

a {
    text-decoration: none;
    color: black;
}

/*===== Section 1 =====*/
#book_nav {
    min-width: 1300px;
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.book_nav_right {
    display: flex;
}

.book_nav_right > input {
    margin-right: 10px;
}

/*===== Section 2 =====*/
#book_container {
    display: grid;
    /*grid-template-rows: 1fr 1fr 1fr 1fr;*/
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
    margin-top: 30px;
}

.book {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
}

.book img {
    width: 200px;
}