<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
	<meta charset="UTF-8">
	<meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}">
	<title>찜 목록</title>
	<link rel="stylesheet" href="/static/css/main/header.css" th:href="@{/css/main/header.css}">
	<link rel="stylesheet" href="/static/css/main/footer.css" th:href="@{/css/main/footer.css}">
	<link rel="stylesheet" href="/static/css/user/myPage/heart.css" th:href="@{/css/user/myPage/heart.css}">
	<script src="https://kit.fontawesome.com/8b1463211e.js" crossorigin="anonymous"></script>
	<script src="/static/js/user/myPage/heart.js" th:src="@{/js/user/myPage/heart.js}" defer></script>
</head>
<body>
	<th:block th:replace="~{main/header :: header}"></th:block>
	<section>
		<h2>찜 목록</h2>
		<div id="heart_page_control_bar">
			<div>
				<input id="all_checked" type="checkbox" hidden>
				<i class="fa-regular fa-circle-check all_check_img"></i>
				전체
			</div>
			<div>
				<input type="button" value="장바구니 담기" onclick="btn_checked(this)" th:onclick="btn_checked(this)">
				<input type="button" value="삭제" onclick="btn_checked(this)" th:onclick="btn_checked(this)">
			</div>
		</div>
		<div id="heart_book_container">
		</div>
	</section>
	<th:block th:replace="~{main/footer :: footer}"></th:block>
</body>
</html>